    $/bond:n6[0]/id1 @/bond:N6/type8 $/atom:n6[0]/id5 $/atom:n6[0]/id31
    $/bond:n6[0]/id2 @/bond:N6/type8 $/atom:n6[0]/id6 $/atom:n6[0]/id31
    $/bond:n6[0]/id3 @/bond:N6/type14 $/atom:n6[0]/id2 $/atom:n6[0]/id6
    $/bond:n6[0]/id4 @/bond:N6/type16 $/atom:n6[0]/id1 $/atom:n6[0]/id2
    $/bond:n6[0]/id5 @/bond:N6/type14 $/atom:n6[0]/id1 $/atom:n6[0]/id5
    $/bond:n6[0]/id6 @/bond:N6/type12 $/atom:n6[0]/id2 $/atom:n6[0]/id30
    $/bond:n6[0]/id7 @/bond:N6/type3 $/atom:n6[0]/id3 $/atom:n6[0]/id30
    $/bond:n6[0]/id8 @/bond:N6/type4 $/atom:n6[0]/id3 $/atom:n6[0]/id7
    $/bond:n6[0]/id9 @/bond:N6/type4 $/atom:n6[0]/id3 $/atom:n6[0]/id34
    $/bond:n6[0]/id10 @/bond:N6/type1 $/atom:n6[0]/id3 $/atom:n6[0]/id4
    $/bond:n6[0]/id11 @/bond:N6/type4 $/atom:n6[0]/id4 $/atom:n6[0]/id8
    $/bond:n6[0]/id12 @/bond:N6/type4 $/atom:n6[0]/id4 $/atom:n6[0]/id35
    $/bond:n6[0]/id13 @/bond:N6/type3 $/atom:n6[0]/id4 $/atom:n6[0]/id29
    $/bond:n6[0]/id14 @/bond:N6/type12 $/atom:n6[0]/id1 $/atom:n6[0]/id29
    $/bond:n6[0]/id15 @/bond:N6/type17 $/atom:n6[0]/id20 $/atom:n6[0]/id80
    $/bond:n6[0]/id16 @/bond:N6/type8 $/atom:n6[0]/id12 $/atom:n6[0]/id32
    $/bond:n6[0]/id17 @/bond:N6/type8 $/atom:n6[0]/id9 $/atom:n6[0]/id32
    $/bond:n6[0]/id18 @/bond:N6/type14 $/atom:n6[0]/id9 $/atom:n6[0]/id10
    $/bond:n6[0]/id19 @/bond:N6/type16 $/atom:n6[0]/id10 $/atom:n6[0]/id11
    $/bond:n6[0]/id20 @/bond:N6/type14 $/atom:n6[0]/id11 $/atom:n6[0]/id12
    $/bond:n6[0]/id21 @/bond:N6/type12 $/atom:n6[0]/id10 $/atom:n6[0]/id25
    $/bond:n6[0]/id22 @/bond:N6/type3 $/atom:n6[0]/id13 $/atom:n6[0]/id25
    $/bond:n6[0]/id23 @/bond:N6/type4 $/atom:n6[0]/id13 $/atom:n6[0]/id15
    $/bond:n6[0]/id24 @/bond:N6/type4 $/atom:n6[0]/id13 $/atom:n6[0]/id39
    $/bond:n6[0]/id25 @/bond:N6/type1 $/atom:n6[0]/id13 $/atom:n6[0]/id14
    $/bond:n6[0]/id26 @/bond:N6/type4 $/atom:n6[0]/id14 $/atom:n6[0]/id16
    $/bond:n6[0]/id27 @/bond:N6/type4 $/atom:n6[0]/id14 $/atom:n6[0]/id38
    $/bond:n6[0]/id28 @/bond:N6/type3 $/atom:n6[0]/id14 $/atom:n6[0]/id26
    $/bond:n6[0]/id29 @/bond:N6/type12 $/atom:n6[0]/id11 $/atom:n6[0]/id26
    $/bond:n6[0]/id30 @/bond:N6/type8 $/atom:n6[0]/id17 $/atom:n6[0]/id33
    $/bond:n6[0]/id31 @/bond:N6/type8 $/atom:n6[0]/id20 $/atom:n6[0]/id33
    $/bond:n6[0]/id32 @/bond:N6/type14 $/atom:n6[0]/id19 $/atom:n6[0]/id20
    $/bond:n6[0]/id33 @/bond:N6/type16 $/atom:n6[0]/id18 $/atom:n6[0]/id19
    $/bond:n6[0]/id34 @/bond:N6/type14 $/atom:n6[0]/id17 $/atom:n6[0]/id18
    $/bond:n6[0]/id35 @/bond:N6/type12 $/atom:n6[0]/id18 $/atom:n6[0]/id28
    $/bond:n6[0]/id36 @/bond:N6/type3 $/atom:n6[0]/id21 $/atom:n6[0]/id28
    $/bond:n6[0]/id37 @/bond:N6/type4 $/atom:n6[0]/id21 $/atom:n6[0]/id23
    $/bond:n6[0]/id38 @/bond:N6/type4 $/atom:n6[0]/id21 $/atom:n6[0]/id36
    $/bond:n6[0]/id39 @/bond:N6/type1 $/atom:n6[0]/id21 $/atom:n6[0]/id22
    $/bond:n6[0]/id40 @/bond:N6/type4 $/atom:n6[0]/id22 $/atom:n6[0]/id24
    $/bond:n6[0]/id41 @/bond:N6/type4 $/atom:n6[0]/id22 $/atom:n6[0]/id37
    $/bond:n6[0]/id42 @/bond:N6/type3 $/atom:n6[0]/id22 $/atom:n6[0]/id27
    $/bond:n6[0]/id43 @/bond:N6/type12 $/atom:n6[0]/id19 $/atom:n6[0]/id27
    $/bond:n6[0]/id44 @/bond:N6/type8 $/atom:n6[0]/id40 $/atom:n6[0]/id42
    $/bond:n6[0]/id45 @/bond:N6/type8 $/atom:n6[0]/id42 $/atom:n6[0]/id45
    $/bond:n6[0]/id46 @/bond:N6/type14 $/atom:n6[0]/id40 $/atom:n6[0]/id41
    $/bond:n6[0]/id47 @/bond:N6/type16 $/atom:n6[0]/id41 $/atom:n6[0]/id43
    $/bond:n6[0]/id48 @/bond:N6/type14 $/atom:n6[0]/id43 $/atom:n6[0]/id45
    $/bond:n6[0]/id49 @/bond:N6/type12 $/atom:n6[0]/id43 $/atom:n6[0]/id46
    $/bond:n6[0]/id50 @/bond:N6/type3 $/atom:n6[0]/id46 $/atom:n6[0]/id49
    $/bond:n6[0]/id51 @/bond:N6/type4 $/atom:n6[0]/id49 $/atom:n6[0]/id55
    $/bond:n6[0]/id52 @/bond:N6/type4 $/atom:n6[0]/id49 $/atom:n6[0]/id54
    $/bond:n6[0]/id53 @/bond:N6/type1 $/atom:n6[0]/id47 $/atom:n6[0]/id49
    $/bond:n6[0]/id54 @/bond:N6/type4 $/atom:n6[0]/id47 $/atom:n6[0]/id50
    $/bond:n6[0]/id55 @/bond:N6/type4 $/atom:n6[0]/id47 $/atom:n6[0]/id51
    $/bond:n6[0]/id56 @/bond:N6/type3 $/atom:n6[0]/id44 $/atom:n6[0]/id47
    $/bond:n6[0]/id57 @/bond:N6/type12 $/atom:n6[0]/id41 $/atom:n6[0]/id44
    $/bond:n6[0]/id58 @/bond:N6/type8 $/atom:n6[0]/id48 $/atom:n6[0]/id53
    $/bond:n6[0]/id59 @/bond:N6/type8 $/atom:n6[0]/id53 $/atom:n6[0]/id58
    $/bond:n6[0]/id60 @/bond:N6/type14 $/atom:n6[0]/id48 $/atom:n6[0]/id52
    $/bond:n6[0]/id61 @/bond:N6/type16 $/atom:n6[0]/id52 $/atom:n6[0]/id56
    $/bond:n6[0]/id62 @/bond:N6/type14 $/atom:n6[0]/id56 $/atom:n6[0]/id58
    $/bond:n6[0]/id63 @/bond:N6/type12 $/atom:n6[0]/id52 $/atom:n6[0]/id57
    $/bond:n6[0]/id64 @/bond:N6/type3 $/atom:n6[0]/id57 $/atom:n6[0]/id60
    $/bond:n6[0]/id65 @/bond:N6/type4 $/atom:n6[0]/id60 $/atom:n6[0]/id64
    $/bond:n6[0]/id66 @/bond:N6/type4 $/atom:n6[0]/id60 $/atom:n6[0]/id63
    $/bond:n6[0]/id67 @/bond:N6/type1 $/atom:n6[0]/id60 $/atom:n6[0]/id62
    $/bond:n6[0]/id68 @/bond:N6/type4 $/atom:n6[0]/id62 $/atom:n6[0]/id67
    $/bond:n6[0]/id69 @/bond:N6/type4 $/atom:n6[0]/id62 $/atom:n6[0]/id68
    $/bond:n6[0]/id70 @/bond:N6/type3 $/atom:n6[0]/id59 $/atom:n6[0]/id62
    $/bond:n6[0]/id71 @/bond:N6/type12 $/atom:n6[0]/id56 $/atom:n6[0]/id59
    $/bond:n6[0]/id72 @/bond:N6/type8 $/atom:n6[0]/id61 $/atom:n6[0]/id66
    $/bond:n6[0]/id73 @/bond:N6/type8 $/atom:n6[0]/id66 $/atom:n6[0]/id71
    $/bond:n6[0]/id74 @/bond:N6/type14 $/atom:n6[0]/id61 $/atom:n6[0]/id65
    $/bond:n6[0]/id75 @/bond:N6/type16 $/atom:n6[0]/id65 $/atom:n6[0]/id69
    $/bond:n6[0]/id76 @/bond:N6/type14 $/atom:n6[0]/id69 $/atom:n6[0]/id71
    $/bond:n6[0]/id77 @/bond:N6/type12 $/atom:n6[0]/id65 $/atom:n6[0]/id70
    $/bond:n6[0]/id78 @/bond:N6/type3 $/atom:n6[0]/id70 $/atom:n6[0]/id73
    $/bond:n6[0]/id79 @/bond:N6/type4 $/atom:n6[0]/id73 $/atom:n6[0]/id76
    $/bond:n6[0]/id80 @/bond:N6/type4 $/atom:n6[0]/id73 $/atom:n6[0]/id77
    $/bond:n6[0]/id81 @/bond:N6/type1 $/atom:n6[0]/id73 $/atom:n6[0]/id75
    $/bond:n6[0]/id82 @/bond:N6/type4 $/atom:n6[0]/id75 $/atom:n6[0]/id79
    $/bond:n6[0]/id83 @/bond:N6/type4 $/atom:n6[0]/id75 $/atom:n6[0]/id78
    $/bond:n6[0]/id84 @/bond:N6/type3 $/atom:n6[0]/id72 $/atom:n6[0]/id75
    $/bond:n6[0]/id85 @/bond:N6/type12 $/atom:n6[0]/id69 $/atom:n6[0]/id72
    $/bond:n6[0]/id86 @/bond:N6/type17 $/atom:n6[0]/id71 $/atom:n6[0]/id74
    $/bond:n6[0]/id87 @/bond:N6/type13 $/atom:n6[0]/id5 $/atom:n6[0]/id9
    $/bond:n6[0]/id88 @/bond:N6/type13 $/atom:n6[0]/id12 $/atom:n6[0]/id17
    $/bond:n6[0]/id89 @/bond:N6/type13 $/atom:n6[0]/id6 $/atom:n6[0]/id40
    $/bond:n6[0]/id90 @/bond:N6/type13 $/atom:n6[0]/id45 $/atom:n6[0]/id48
    $/bond:n6[0]/id91 @/bond:N6/type13 $/atom:n6[0]/id58 $/atom:n6[0]/id61
