    $/angle:n6[0]/id1 @/angle:N6/type3 $/atom:n6[0]/id3 $/atom:n6[0]/id4 $/atom:n6[0]/id29
    $/angle:n6[0]/id2 @/angle:N6/type3 $/atom:n6[0]/id4 $/atom:n6[0]/id3 $/atom:n6[0]/id30
    $/angle:n6[0]/id3 @/angle:N6/type3 $/atom:n6[0]/id13 $/atom:n6[0]/id14 $/atom:n6[0]/id26
    $/angle:n6[0]/id4 @/angle:N6/type3 $/atom:n6[0]/id14 $/atom:n6[0]/id13 $/atom:n6[0]/id25
    $/angle:n6[0]/id5 @/angle:N6/type3 $/atom:n6[0]/id21 $/atom:n6[0]/id22 $/atom:n6[0]/id27
    $/angle:n6[0]/id6 @/angle:N6/type3 $/atom:n6[0]/id22 $/atom:n6[0]/id21 $/atom:n6[0]/id28
    $/angle:n6[0]/id7 @/angle:N6/type3 $/atom:n6[0]/id46 $/atom:n6[0]/id49 $/atom:n6[0]/id47
    $/angle:n6[0]/id8 @/angle:N6/type3 $/atom:n6[0]/id44 $/atom:n6[0]/id47 $/atom:n6[0]/id49
    $/angle:n6[0]/id9 @/angle:N6/type3 $/atom:n6[0]/id59 $/atom:n6[0]/id62 $/atom:n6[0]/id60
    $/angle:n6[0]/id10 @/angle:N6/type3 $/atom:n6[0]/id57 $/atom:n6[0]/id60 $/atom:n6[0]/id62
    $/angle:n6[0]/id11 @/angle:N6/type3 $/atom:n6[0]/id72 $/atom:n6[0]/id75 $/atom:n6[0]/id73
    $/angle:n6[0]/id12 @/angle:N6/type3 $/atom:n6[0]/id70 $/atom:n6[0]/id73 $/atom:n6[0]/id75
    $/angle:n6[0]/id13 @/angle:N6/type4 $/atom:n6[0]/id7 $/atom:n6[0]/id3 $/atom:n6[0]/id34
    $/angle:n6[0]/id14 @/angle:N6/type4 $/atom:n6[0]/id8 $/atom:n6[0]/id4 $/atom:n6[0]/id35
    $/angle:n6[0]/id15 @/angle:N6/type4 $/atom:n6[0]/id15 $/atom:n6[0]/id13 $/atom:n6[0]/id39
    $/angle:n6[0]/id16 @/angle:N6/type4 $/atom:n6[0]/id16 $/atom:n6[0]/id14 $/atom:n6[0]/id38
    $/angle:n6[0]/id17 @/angle:N6/type4 $/atom:n6[0]/id23 $/atom:n6[0]/id21 $/atom:n6[0]/id36
    $/angle:n6[0]/id18 @/angle:N6/type4 $/atom:n6[0]/id24 $/atom:n6[0]/id22 $/atom:n6[0]/id37
    $/angle:n6[0]/id19 @/angle:N6/type4 $/atom:n6[0]/id50 $/atom:n6[0]/id47 $/atom:n6[0]/id51
    $/angle:n6[0]/id20 @/angle:N6/type4 $/atom:n6[0]/id54 $/atom:n6[0]/id49 $/atom:n6[0]/id55
    $/angle:n6[0]/id21 @/angle:N6/type4 $/atom:n6[0]/id63 $/atom:n6[0]/id60 $/atom:n6[0]/id64
    $/angle:n6[0]/id22 @/angle:N6/type4 $/atom:n6[0]/id67 $/atom:n6[0]/id62 $/atom:n6[0]/id68
    $/angle:n6[0]/id23 @/angle:N6/type4 $/atom:n6[0]/id76 $/atom:n6[0]/id73 $/atom:n6[0]/id77
    $/angle:n6[0]/id24 @/angle:N6/type4 $/atom:n6[0]/id78 $/atom:n6[0]/id75 $/atom:n6[0]/id79
    $/angle:n6[0]/id25 @/angle:N6/type6 $/atom:n6[0]/id15 $/atom:n6[0]/id13 $/atom:n6[0]/id25
    $/angle:n6[0]/id26 @/angle:N6/type6 $/atom:n6[0]/id25 $/atom:n6[0]/id13 $/atom:n6[0]/id39
    $/angle:n6[0]/id27 @/angle:N6/type6 $/atom:n6[0]/id16 $/atom:n6[0]/id14 $/atom:n6[0]/id26
    $/angle:n6[0]/id28 @/angle:N6/type6 $/atom:n6[0]/id26 $/atom:n6[0]/id14 $/atom:n6[0]/id38
    $/angle:n6[0]/id29 @/angle:N6/type6 $/atom:n6[0]/id24 $/atom:n6[0]/id22 $/atom:n6[0]/id27
    $/angle:n6[0]/id30 @/angle:N6/type6 $/atom:n6[0]/id27 $/atom:n6[0]/id22 $/atom:n6[0]/id37
    $/angle:n6[0]/id31 @/angle:N6/type6 $/atom:n6[0]/id23 $/atom:n6[0]/id21 $/atom:n6[0]/id28
    $/angle:n6[0]/id32 @/angle:N6/type6 $/atom:n6[0]/id28 $/atom:n6[0]/id21 $/atom:n6[0]/id36
    $/angle:n6[0]/id33 @/angle:N6/type6 $/atom:n6[0]/id8 $/atom:n6[0]/id4 $/atom:n6[0]/id29
    $/angle:n6[0]/id34 @/angle:N6/type6 $/atom:n6[0]/id29 $/atom:n6[0]/id4 $/atom:n6[0]/id35
    $/angle:n6[0]/id35 @/angle:N6/type6 $/atom:n6[0]/id7 $/atom:n6[0]/id3 $/atom:n6[0]/id30
    $/angle:n6[0]/id36 @/angle:N6/type6 $/atom:n6[0]/id30 $/atom:n6[0]/id3 $/atom:n6[0]/id34
    $/angle:n6[0]/id37 @/angle:N6/type6 $/atom:n6[0]/id44 $/atom:n6[0]/id47 $/atom:n6[0]/id50
    $/angle:n6[0]/id38 @/angle:N6/type6 $/atom:n6[0]/id44 $/atom:n6[0]/id47 $/atom:n6[0]/id51
    $/angle:n6[0]/id39 @/angle:N6/type6 $/atom:n6[0]/id46 $/atom:n6[0]/id49 $/atom:n6[0]/id55
    $/angle:n6[0]/id40 @/angle:N6/type6 $/atom:n6[0]/id46 $/atom:n6[0]/id49 $/atom:n6[0]/id54
    $/angle:n6[0]/id41 @/angle:N6/type6 $/atom:n6[0]/id57 $/atom:n6[0]/id60 $/atom:n6[0]/id64
    $/angle:n6[0]/id42 @/angle:N6/type6 $/atom:n6[0]/id57 $/atom:n6[0]/id60 $/atom:n6[0]/id63
    $/angle:n6[0]/id43 @/angle:N6/type6 $/atom:n6[0]/id59 $/atom:n6[0]/id62 $/atom:n6[0]/id67
    $/angle:n6[0]/id44 @/angle:N6/type6 $/atom:n6[0]/id59 $/atom:n6[0]/id62 $/atom:n6[0]/id68
    $/angle:n6[0]/id45 @/angle:N6/type6 $/atom:n6[0]/id70 $/atom:n6[0]/id73 $/atom:n6[0]/id76
    $/angle:n6[0]/id46 @/angle:N6/type6 $/atom:n6[0]/id70 $/atom:n6[0]/id73 $/atom:n6[0]/id77
    $/angle:n6[0]/id47 @/angle:N6/type6 $/atom:n6[0]/id72 $/atom:n6[0]/id75 $/atom:n6[0]/id79
    $/angle:n6[0]/id48 @/angle:N6/type6 $/atom:n6[0]/id72 $/atom:n6[0]/id75 $/atom:n6[0]/id78
    $/angle:n6[0]/id49 @/angle:N6/type7 $/atom:n6[0]/id3 $/atom:n6[0]/id4 $/atom:n6[0]/id8
    $/angle:n6[0]/id50 @/angle:N6/type7 $/atom:n6[0]/id3 $/atom:n6[0]/id4 $/atom:n6[0]/id35
    $/angle:n6[0]/id51 @/angle:N6/type7 $/atom:n6[0]/id4 $/atom:n6[0]/id3 $/atom:n6[0]/id7
    $/angle:n6[0]/id52 @/angle:N6/type7 $/atom:n6[0]/id4 $/atom:n6[0]/id3 $/atom:n6[0]/id34
    $/angle:n6[0]/id53 @/angle:N6/type7 $/atom:n6[0]/id13 $/atom:n6[0]/id14 $/atom:n6[0]/id16
    $/angle:n6[0]/id54 @/angle:N6/type7 $/atom:n6[0]/id13 $/atom:n6[0]/id14 $/atom:n6[0]/id38
    $/angle:n6[0]/id55 @/angle:N6/type7 $/atom:n6[0]/id14 $/atom:n6[0]/id13 $/atom:n6[0]/id15
    $/angle:n6[0]/id56 @/angle:N6/type7 $/atom:n6[0]/id14 $/atom:n6[0]/id13 $/atom:n6[0]/id39
    $/angle:n6[0]/id57 @/angle:N6/type7 $/atom:n6[0]/id21 $/atom:n6[0]/id22 $/atom:n6[0]/id24
    $/angle:n6[0]/id58 @/angle:N6/type7 $/atom:n6[0]/id21 $/atom:n6[0]/id22 $/atom:n6[0]/id37
    $/angle:n6[0]/id59 @/angle:N6/type7 $/atom:n6[0]/id22 $/atom:n6[0]/id21 $/atom:n6[0]/id23
    $/angle:n6[0]/id60 @/angle:N6/type7 $/atom:n6[0]/id22 $/atom:n6[0]/id21 $/atom:n6[0]/id36
    $/angle:n6[0]/id61 @/angle:N6/type7 $/atom:n6[0]/id47 $/atom:n6[0]/id49 $/atom:n6[0]/id55
    $/angle:n6[0]/id62 @/angle:N6/type7 $/atom:n6[0]/id47 $/atom:n6[0]/id49 $/atom:n6[0]/id54
    $/angle:n6[0]/id63 @/angle:N6/type7 $/atom:n6[0]/id49 $/atom:n6[0]/id47 $/atom:n6[0]/id50
    $/angle:n6[0]/id64 @/angle:N6/type7 $/atom:n6[0]/id49 $/atom:n6[0]/id47 $/atom:n6[0]/id51
    $/angle:n6[0]/id65 @/angle:N6/type7 $/atom:n6[0]/id60 $/atom:n6[0]/id62 $/atom:n6[0]/id67
    $/angle:n6[0]/id66 @/angle:N6/type7 $/atom:n6[0]/id60 $/atom:n6[0]/id62 $/atom:n6[0]/id68
    $/angle:n6[0]/id67 @/angle:N6/type7 $/atom:n6[0]/id62 $/atom:n6[0]/id60 $/atom:n6[0]/id64
    $/angle:n6[0]/id68 @/angle:N6/type7 $/atom:n6[0]/id62 $/atom:n6[0]/id60 $/atom:n6[0]/id63
    $/angle:n6[0]/id69 @/angle:N6/type7 $/atom:n6[0]/id73 $/atom:n6[0]/id75 $/atom:n6[0]/id79
    $/angle:n6[0]/id70 @/angle:N6/type7 $/atom:n6[0]/id73 $/atom:n6[0]/id75 $/atom:n6[0]/id78
    $/angle:n6[0]/id71 @/angle:N6/type7 $/atom:n6[0]/id75 $/atom:n6[0]/id73 $/atom:n6[0]/id76
    $/angle:n6[0]/id72 @/angle:N6/type7 $/atom:n6[0]/id75 $/atom:n6[0]/id73 $/atom:n6[0]/id77
    $/angle:n6[0]/id73 @/angle:N6/type26 $/atom:n6[0]/id2 $/atom:n6[0]/id30 $/atom:n6[0]/id3
    $/angle:n6[0]/id74 @/angle:N6/type26 $/atom:n6[0]/id1 $/atom:n6[0]/id29 $/atom:n6[0]/id4
    $/angle:n6[0]/id75 @/angle:N6/type26 $/atom:n6[0]/id10 $/atom:n6[0]/id25 $/atom:n6[0]/id13
    $/angle:n6[0]/id76 @/angle:N6/type26 $/atom:n6[0]/id11 $/atom:n6[0]/id26 $/atom:n6[0]/id14
    $/angle:n6[0]/id77 @/angle:N6/type26 $/atom:n6[0]/id18 $/atom:n6[0]/id28 $/atom:n6[0]/id21
    $/angle:n6[0]/id78 @/angle:N6/type26 $/atom:n6[0]/id19 $/atom:n6[0]/id27 $/atom:n6[0]/id22
    $/angle:n6[0]/id79 @/angle:N6/type26 $/atom:n6[0]/id41 $/atom:n6[0]/id44 $/atom:n6[0]/id47
    $/angle:n6[0]/id80 @/angle:N6/type26 $/atom:n6[0]/id43 $/atom:n6[0]/id46 $/atom:n6[0]/id49
    $/angle:n6[0]/id81 @/angle:N6/type26 $/atom:n6[0]/id52 $/atom:n6[0]/id57 $/atom:n6[0]/id60
    $/angle:n6[0]/id82 @/angle:N6/type26 $/atom:n6[0]/id56 $/atom:n6[0]/id59 $/atom:n6[0]/id62
    $/angle:n6[0]/id83 @/angle:N6/type26 $/atom:n6[0]/id65 $/atom:n6[0]/id70 $/atom:n6[0]/id73
    $/angle:n6[0]/id84 @/angle:N6/type26 $/atom:n6[0]/id69 $/atom:n6[0]/id72 $/atom:n6[0]/id75
    $/angle:n6[0]/id85 @/angle:N6/type35 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id9
    $/angle:n6[0]/id86 @/angle:N6/type35 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id40
    $/angle:n6[0]/id87 @/angle:N6/type35 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id10
    $/angle:n6[0]/id88 @/angle:N6/type35 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id17
    $/angle:n6[0]/id89 @/angle:N6/type35 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id18
    $/angle:n6[0]/id90 @/angle:N6/type35 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id41
    $/angle:n6[0]/id91 @/angle:N6/type35 $/atom:n6[0]/id43 $/atom:n6[0]/id45 $/atom:n6[0]/id48
    $/angle:n6[0]/id92 @/angle:N6/type35 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id52
    $/angle:n6[0]/id93 @/angle:N6/type35 $/atom:n6[0]/id56 $/atom:n6[0]/id58 $/atom:n6[0]/id61
    $/angle:n6[0]/id94 @/angle:N6/type35 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id65
    $/angle:n6[0]/id95 @/angle:N6/type37 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id6
    $/angle:n6[0]/id96 @/angle:N6/type37 $/atom:n6[0]/id2 $/atom:n6[0]/id1 $/atom:n6[0]/id5
    $/angle:n6[0]/id97 @/angle:N6/type37 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id12
    $/angle:n6[0]/id98 @/angle:N6/type37 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id11
    $/angle:n6[0]/id99 @/angle:N6/type37 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id20
    $/angle:n6[0]/id100 @/angle:N6/type37 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id19
    $/angle:n6[0]/id101 @/angle:N6/type37 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id45
    $/angle:n6[0]/id102 @/angle:N6/type37 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id43
    $/angle:n6[0]/id103 @/angle:N6/type37 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id58
    $/angle:n6[0]/id104 @/angle:N6/type37 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id56
    $/angle:n6[0]/id105 @/angle:N6/type37 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id71
    $/angle:n6[0]/id106 @/angle:N6/type37 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id69
    $/angle:n6[0]/id107 @/angle:N6/type45 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id25
    $/angle:n6[0]/id108 @/angle:N6/type45 $/atom:n6[0]/id12 $/atom:n6[0]/id11 $/atom:n6[0]/id26
    $/angle:n6[0]/id109 @/angle:N6/type45 $/atom:n6[0]/id20 $/atom:n6[0]/id19 $/atom:n6[0]/id27
    $/angle:n6[0]/id110 @/angle:N6/type45 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id28
    $/angle:n6[0]/id111 @/angle:N6/type45 $/atom:n6[0]/id5 $/atom:n6[0]/id1 $/atom:n6[0]/id29
    $/angle:n6[0]/id112 @/angle:N6/type45 $/atom:n6[0]/id6 $/atom:n6[0]/id2 $/atom:n6[0]/id30
    $/angle:n6[0]/id113 @/angle:N6/type45 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id44
    $/angle:n6[0]/id114 @/angle:N6/type45 $/atom:n6[0]/id45 $/atom:n6[0]/id43 $/atom:n6[0]/id46
    $/angle:n6[0]/id115 @/angle:N6/type45 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id57
    $/angle:n6[0]/id116 @/angle:N6/type45 $/atom:n6[0]/id58 $/atom:n6[0]/id56 $/atom:n6[0]/id59
    $/angle:n6[0]/id117 @/angle:N6/type45 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id70
    $/angle:n6[0]/id118 @/angle:N6/type45 $/atom:n6[0]/id71 $/atom:n6[0]/id69 $/atom:n6[0]/id72
    $/angle:n6[0]/id119 @/angle:N6/type46 $/atom:n6[0]/id11 $/atom:n6[0]/id10 $/atom:n6[0]/id25
    $/angle:n6[0]/id120 @/angle:N6/type46 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id26
    $/angle:n6[0]/id121 @/angle:N6/type46 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id27
    $/angle:n6[0]/id122 @/angle:N6/type46 $/atom:n6[0]/id19 $/atom:n6[0]/id18 $/atom:n6[0]/id28
    $/angle:n6[0]/id123 @/angle:N6/type46 $/atom:n6[0]/id2 $/atom:n6[0]/id1 $/atom:n6[0]/id29
    $/angle:n6[0]/id124 @/angle:N6/type46 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id30
    $/angle:n6[0]/id125 @/angle:N6/type46 $/atom:n6[0]/id43 $/atom:n6[0]/id41 $/atom:n6[0]/id44
    $/angle:n6[0]/id126 @/angle:N6/type46 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id46
    $/angle:n6[0]/id127 @/angle:N6/type46 $/atom:n6[0]/id56 $/atom:n6[0]/id52 $/atom:n6[0]/id57
    $/angle:n6[0]/id128 @/angle:N6/type46 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id59
    $/angle:n6[0]/id129 @/angle:N6/type46 $/atom:n6[0]/id69 $/atom:n6[0]/id65 $/atom:n6[0]/id70
    $/angle:n6[0]/id130 @/angle:N6/type46 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id72
    $/angle:n6[0]/id131 @/angle:N6/type47 $/atom:n6[0]/id9 $/atom:n6[0]/id5 $/atom:n6[0]/id31
    $/angle:n6[0]/id132 @/angle:N6/type47 $/atom:n6[0]/id31 $/atom:n6[0]/id6 $/atom:n6[0]/id40
    $/angle:n6[0]/id133 @/angle:N6/type47 $/atom:n6[0]/id17 $/atom:n6[0]/id12 $/atom:n6[0]/id32
    $/angle:n6[0]/id134 @/angle:N6/type47 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id32
    $/angle:n6[0]/id135 @/angle:N6/type47 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id33
    $/angle:n6[0]/id136 @/angle:N6/type47 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id42
    $/angle:n6[0]/id137 @/angle:N6/type47 $/atom:n6[0]/id42 $/atom:n6[0]/id45 $/atom:n6[0]/id48
    $/angle:n6[0]/id138 @/angle:N6/type47 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id53
    $/angle:n6[0]/id139 @/angle:N6/type47 $/atom:n6[0]/id53 $/atom:n6[0]/id58 $/atom:n6[0]/id61
    $/angle:n6[0]/id140 @/angle:N6/type47 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id66
    $/angle:n6[0]/id141 @/angle:N6/type48 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id31
    $/angle:n6[0]/id142 @/angle:N6/type48 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id31
    $/angle:n6[0]/id143 @/angle:N6/type48 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id32
    $/angle:n6[0]/id144 @/angle:N6/type48 $/atom:n6[0]/id10 $/atom:n6[0]/id9 $/atom:n6[0]/id32
    $/angle:n6[0]/id145 @/angle:N6/type48 $/atom:n6[0]/id18 $/atom:n6[0]/id17 $/atom:n6[0]/id33
    $/angle:n6[0]/id146 @/angle:N6/type48 $/atom:n6[0]/id19 $/atom:n6[0]/id20 $/atom:n6[0]/id33
    $/angle:n6[0]/id147 @/angle:N6/type48 $/atom:n6[0]/id41 $/atom:n6[0]/id40 $/atom:n6[0]/id42
    $/angle:n6[0]/id148 @/angle:N6/type48 $/atom:n6[0]/id42 $/atom:n6[0]/id45 $/atom:n6[0]/id43
    $/angle:n6[0]/id149 @/angle:N6/type48 $/atom:n6[0]/id52 $/atom:n6[0]/id48 $/atom:n6[0]/id53
    $/angle:n6[0]/id150 @/angle:N6/type48 $/atom:n6[0]/id53 $/atom:n6[0]/id58 $/atom:n6[0]/id56
    $/angle:n6[0]/id151 @/angle:N6/type48 $/atom:n6[0]/id65 $/atom:n6[0]/id61 $/atom:n6[0]/id66
    $/angle:n6[0]/id152 @/angle:N6/type48 $/atom:n6[0]/id66 $/atom:n6[0]/id71 $/atom:n6[0]/id69
    $/angle:n6[0]/id153 @/angle:N6/type53 $/atom:n6[0]/id19 $/atom:n6[0]/id20 $/atom:n6[0]/id80
    $/angle:n6[0]/id154 @/angle:N6/type53 $/atom:n6[0]/id69 $/atom:n6[0]/id71 $/atom:n6[0]/id74
