    $/improper:n6[0]/id1 @/improper:N6/type1 $/atom:n6[0]/id19 $/atom:n6[0]/id20 $/atom:n6[0]/id80 $/atom:n6[0]/id33
    $/improper:n6[0]/id2 @/improper:N6/type1 $/atom:n6[0]/id66 $/atom:n6[0]/id71 $/atom:n6[0]/id74 $/atom:n6[0]/id69
    $/improper:n6[0]/id3 @/improper:N6/type1 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id31 $/atom:n6[0]/id9
    $/improper:n6[0]/id4 @/improper:N6/type1 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id31 $/atom:n6[0]/id40
    $/improper:n6[0]/id5 @/improper:N6/type1 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id32 $/atom:n6[0]/id10
    $/improper:n6[0]/id6 @/improper:N6/type1 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id32 $/atom:n6[0]/id17
    $/improper:n6[0]/id7 @/improper:N6/type1 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id33 $/atom:n6[0]/id18
    $/improper:n6[0]/id8 @/improper:N6/type1 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id42 $/atom:n6[0]/id41
    $/improper:n6[0]/id9 @/improper:N6/type1 $/atom:n6[0]/id43 $/atom:n6[0]/id42 $/atom:n6[0]/id45 $/atom:n6[0]/id48
    $/improper:n6[0]/id10 @/improper:N6/type1 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id53 $/atom:n6[0]/id52
    $/improper:n6[0]/id11 @/improper:N6/type1 $/atom:n6[0]/id56 $/atom:n6[0]/id53 $/atom:n6[0]/id58 $/atom:n6[0]/id61
    $/improper:n6[0]/id12 @/improper:N6/type1 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id66 $/atom:n6[0]/id65
    $/improper:n6[0]/id13 @/improper:N6/type1 $/atom:n6[0]/id19 $/atom:n6[0]/id20 $/atom:n6[0]/id33 $/atom:n6[0]/id80
    $/improper:n6[0]/id14 @/improper:N6/type1 $/atom:n6[0]/id69 $/atom:n6[0]/id66 $/atom:n6[0]/id71 $/atom:n6[0]/id74
    $/improper:n6[0]/id15 @/improper:N6/type1 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id31
    $/improper:n6[0]/id16 @/improper:N6/type1 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id31
    $/improper:n6[0]/id17 @/improper:N6/type1 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id32
    $/improper:n6[0]/id18 @/improper:N6/type1 $/atom:n6[0]/id10 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id32
    $/improper:n6[0]/id19 @/improper:N6/type1 $/atom:n6[0]/id18 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id33
    $/improper:n6[0]/id20 @/improper:N6/type1 $/atom:n6[0]/id41 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id42
    $/improper:n6[0]/id21 @/improper:N6/type1 $/atom:n6[0]/id42 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id43
    $/improper:n6[0]/id22 @/improper:N6/type1 $/atom:n6[0]/id52 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id53
    $/improper:n6[0]/id23 @/improper:N6/type1 $/atom:n6[0]/id53 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id56
    $/improper:n6[0]/id24 @/improper:N6/type1 $/atom:n6[0]/id65 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id66
    $/improper:n6[0]/id25 @/improper:N6/type1 $/atom:n6[0]/id66 $/atom:n6[0]/id69 $/atom:n6[0]/id71 $/atom:n6[0]/id74
    $/improper:n6[0]/id26 @/improper:N6/type1 $/atom:n6[0]/id33 $/atom:n6[0]/id19 $/atom:n6[0]/id20 $/atom:n6[0]/id80
    $/improper:n6[0]/id27 @/improper:N6/type1 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id32
    $/improper:n6[0]/id28 @/improper:N6/type1 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id42
    $/improper:n6[0]/id29 @/improper:N6/type1 $/atom:n6[0]/id9 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id31
    $/improper:n6[0]/id30 @/improper:N6/type1 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id33
    $/improper:n6[0]/id31 @/improper:N6/type1 $/atom:n6[0]/id17 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id32
    $/improper:n6[0]/id32 @/improper:N6/type1 $/atom:n6[0]/id31 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id40
    $/improper:n6[0]/id33 @/improper:N6/type1 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id53
    $/improper:n6[0]/id34 @/improper:N6/type1 $/atom:n6[0]/id42 $/atom:n6[0]/id43 $/atom:n6[0]/id45 $/atom:n6[0]/id48
    $/improper:n6[0]/id35 @/improper:N6/type1 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id66
    $/improper:n6[0]/id36 @/improper:N6/type1 $/atom:n6[0]/id53 $/atom:n6[0]/id56 $/atom:n6[0]/id58 $/atom:n6[0]/id61
    $/improper:n6[0]/id37 @/improper:N6/type2 $/atom:n6[0]/id5 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id29
    $/improper:n6[0]/id38 @/improper:N6/type2 $/atom:n6[0]/id6 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id30
    $/improper:n6[0]/id39 @/improper:N6/type2 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id25
    $/improper:n6[0]/id40 @/improper:N6/type2 $/atom:n6[0]/id12 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id26
    $/improper:n6[0]/id41 @/improper:N6/type2 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id28
    $/improper:n6[0]/id42 @/improper:N6/type2 $/atom:n6[0]/id20 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id27
    $/improper:n6[0]/id43 @/improper:N6/type2 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id44
    $/improper:n6[0]/id44 @/improper:N6/type2 $/atom:n6[0]/id45 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id46
    $/improper:n6[0]/id45 @/improper:N6/type2 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id57
    $/improper:n6[0]/id46 @/improper:N6/type2 $/atom:n6[0]/id58 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id59
    $/improper:n6[0]/id47 @/improper:N6/type2 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id70
    $/improper:n6[0]/id48 @/improper:N6/type2 $/atom:n6[0]/id71 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id72
    $/improper:n6[0]/id49 @/improper:N6/type2 $/atom:n6[0]/id2 $/atom:n6[0]/id1 $/atom:n6[0]/id29 $/atom:n6[0]/id5
    $/improper:n6[0]/id50 @/improper:N6/type2 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id30 $/atom:n6[0]/id6
    $/improper:n6[0]/id51 @/improper:N6/type2 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id25 $/atom:n6[0]/id11
    $/improper:n6[0]/id52 @/improper:N6/type2 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id26 $/atom:n6[0]/id12
    $/improper:n6[0]/id53 @/improper:N6/type2 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id28 $/atom:n6[0]/id19
    $/improper:n6[0]/id54 @/improper:N6/type2 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id27 $/atom:n6[0]/id20
    $/improper:n6[0]/id55 @/improper:N6/type2 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id44 $/atom:n6[0]/id43
    $/improper:n6[0]/id56 @/improper:N6/type2 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id46 $/atom:n6[0]/id45
    $/improper:n6[0]/id57 @/improper:N6/type2 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id57 $/atom:n6[0]/id56
    $/improper:n6[0]/id58 @/improper:N6/type2 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id59 $/atom:n6[0]/id58
    $/improper:n6[0]/id59 @/improper:N6/type2 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id70 $/atom:n6[0]/id69
    $/improper:n6[0]/id60 @/improper:N6/type2 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id72 $/atom:n6[0]/id71
    $/improper:n6[0]/id61 @/improper:N6/type2 $/atom:n6[0]/id11 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id25
    $/improper:n6[0]/id62 @/improper:N6/type2 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id26
    $/improper:n6[0]/id63 @/improper:N6/type2 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id20 $/atom:n6[0]/id27
    $/improper:n6[0]/id64 @/improper:N6/type2 $/atom:n6[0]/id19 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id28
    $/improper:n6[0]/id65 @/improper:N6/type2 $/atom:n6[0]/id2 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id29
    $/improper:n6[0]/id66 @/improper:N6/type2 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id30
    $/improper:n6[0]/id67 @/improper:N6/type2 $/atom:n6[0]/id43 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id44
    $/improper:n6[0]/id68 @/improper:N6/type2 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id45 $/atom:n6[0]/id46
    $/improper:n6[0]/id69 @/improper:N6/type2 $/atom:n6[0]/id56 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id57
    $/improper:n6[0]/id70 @/improper:N6/type2 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id58 $/atom:n6[0]/id59
    $/improper:n6[0]/id71 @/improper:N6/type2 $/atom:n6[0]/id69 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id70
    $/improper:n6[0]/id72 @/improper:N6/type2 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id71 $/atom:n6[0]/id72
