    $/dihedral:n6[0]/id1 @/dihedral:N6/type6 $/atom:n6[0]/id25 $/atom:n6[0]/id13 $/atom:n6[0]/id14 $/atom:n6[0]/id26
    $/dihedral:n6[0]/id2 @/dihedral:N6/type6 $/atom:n6[0]/id27 $/atom:n6[0]/id22 $/atom:n6[0]/id21 $/atom:n6[0]/id28
    $/dihedral:n6[0]/id3 @/dihedral:N6/type6 $/atom:n6[0]/id29 $/atom:n6[0]/id4 $/atom:n6[0]/id3 $/atom:n6[0]/id30
    $/dihedral:n6[0]/id4 @/dihedral:N6/type6 $/atom:n6[0]/id44 $/atom:n6[0]/id47 $/atom:n6[0]/id49 $/atom:n6[0]/id46
    $/dihedral:n6[0]/id5 @/dihedral:N6/type6 $/atom:n6[0]/id57 $/atom:n6[0]/id60 $/atom:n6[0]/id62 $/atom:n6[0]/id59
    $/dihedral:n6[0]/id6 @/dihedral:N6/type6 $/atom:n6[0]/id70 $/atom:n6[0]/id73 $/atom:n6[0]/id75 $/atom:n6[0]/id72
    $/dihedral:n6[0]/id7 @/dihedral:N6/type7 $/atom:n6[0]/id16 $/atom:n6[0]/id14 $/atom:n6[0]/id13 $/atom:n6[0]/id25
    $/dihedral:n6[0]/id8 @/dihedral:N6/type7 $/atom:n6[0]/id25 $/atom:n6[0]/id13 $/atom:n6[0]/id14 $/atom:n6[0]/id38
    $/dihedral:n6[0]/id9 @/dihedral:N6/type7 $/atom:n6[0]/id15 $/atom:n6[0]/id13 $/atom:n6[0]/id14 $/atom:n6[0]/id26
    $/dihedral:n6[0]/id10 @/dihedral:N6/type7 $/atom:n6[0]/id26 $/atom:n6[0]/id14 $/atom:n6[0]/id13 $/atom:n6[0]/id39
    $/dihedral:n6[0]/id11 @/dihedral:N6/type7 $/atom:n6[0]/id23 $/atom:n6[0]/id21 $/atom:n6[0]/id22 $/atom:n6[0]/id27
    $/dihedral:n6[0]/id12 @/dihedral:N6/type7 $/atom:n6[0]/id27 $/atom:n6[0]/id22 $/atom:n6[0]/id21 $/atom:n6[0]/id36
    $/dihedral:n6[0]/id13 @/dihedral:N6/type7 $/atom:n6[0]/id24 $/atom:n6[0]/id22 $/atom:n6[0]/id21 $/atom:n6[0]/id28
    $/dihedral:n6[0]/id14 @/dihedral:N6/type7 $/atom:n6[0]/id28 $/atom:n6[0]/id21 $/atom:n6[0]/id22 $/atom:n6[0]/id37
    $/dihedral:n6[0]/id15 @/dihedral:N6/type7 $/atom:n6[0]/id7 $/atom:n6[0]/id3 $/atom:n6[0]/id4 $/atom:n6[0]/id29
    $/dihedral:n6[0]/id16 @/dihedral:N6/type7 $/atom:n6[0]/id29 $/atom:n6[0]/id4 $/atom:n6[0]/id3 $/atom:n6[0]/id34
    $/dihedral:n6[0]/id17 @/dihedral:N6/type7 $/atom:n6[0]/id8 $/atom:n6[0]/id4 $/atom:n6[0]/id3 $/atom:n6[0]/id30
    $/dihedral:n6[0]/id18 @/dihedral:N6/type7 $/atom:n6[0]/id30 $/atom:n6[0]/id3 $/atom:n6[0]/id4 $/atom:n6[0]/id35
    $/dihedral:n6[0]/id19 @/dihedral:N6/type7 $/atom:n6[0]/id44 $/atom:n6[0]/id47 $/atom:n6[0]/id49 $/atom:n6[0]/id55
    $/dihedral:n6[0]/id20 @/dihedral:N6/type7 $/atom:n6[0]/id44 $/atom:n6[0]/id47 $/atom:n6[0]/id49 $/atom:n6[0]/id54
    $/dihedral:n6[0]/id21 @/dihedral:N6/type7 $/atom:n6[0]/id46 $/atom:n6[0]/id49 $/atom:n6[0]/id47 $/atom:n6[0]/id50
    $/dihedral:n6[0]/id22 @/dihedral:N6/type7 $/atom:n6[0]/id46 $/atom:n6[0]/id49 $/atom:n6[0]/id47 $/atom:n6[0]/id51
    $/dihedral:n6[0]/id23 @/dihedral:N6/type7 $/atom:n6[0]/id57 $/atom:n6[0]/id60 $/atom:n6[0]/id62 $/atom:n6[0]/id67
    $/dihedral:n6[0]/id24 @/dihedral:N6/type7 $/atom:n6[0]/id57 $/atom:n6[0]/id60 $/atom:n6[0]/id62 $/atom:n6[0]/id68
    $/dihedral:n6[0]/id25 @/dihedral:N6/type7 $/atom:n6[0]/id59 $/atom:n6[0]/id62 $/atom:n6[0]/id60 $/atom:n6[0]/id64
    $/dihedral:n6[0]/id26 @/dihedral:N6/type7 $/atom:n6[0]/id59 $/atom:n6[0]/id62 $/atom:n6[0]/id60 $/atom:n6[0]/id63
    $/dihedral:n6[0]/id27 @/dihedral:N6/type7 $/atom:n6[0]/id70 $/atom:n6[0]/id73 $/atom:n6[0]/id75 $/atom:n6[0]/id79
    $/dihedral:n6[0]/id28 @/dihedral:N6/type7 $/atom:n6[0]/id70 $/atom:n6[0]/id73 $/atom:n6[0]/id75 $/atom:n6[0]/id78
    $/dihedral:n6[0]/id29 @/dihedral:N6/type7 $/atom:n6[0]/id72 $/atom:n6[0]/id75 $/atom:n6[0]/id73 $/atom:n6[0]/id76
    $/dihedral:n6[0]/id30 @/dihedral:N6/type7 $/atom:n6[0]/id72 $/atom:n6[0]/id75 $/atom:n6[0]/id73 $/atom:n6[0]/id77
    $/dihedral:n6[0]/id31 @/dihedral:N6/type8 $/atom:n6[0]/id7 $/atom:n6[0]/id3 $/atom:n6[0]/id4 $/atom:n6[0]/id8
    $/dihedral:n6[0]/id32 @/dihedral:N6/type8 $/atom:n6[0]/id7 $/atom:n6[0]/id3 $/atom:n6[0]/id4 $/atom:n6[0]/id35
    $/dihedral:n6[0]/id33 @/dihedral:N6/type8 $/atom:n6[0]/id8 $/atom:n6[0]/id4 $/atom:n6[0]/id3 $/atom:n6[0]/id34
    $/dihedral:n6[0]/id34 @/dihedral:N6/type8 $/atom:n6[0]/id15 $/atom:n6[0]/id13 $/atom:n6[0]/id14 $/atom:n6[0]/id16
    $/dihedral:n6[0]/id35 @/dihedral:N6/type8 $/atom:n6[0]/id15 $/atom:n6[0]/id13 $/atom:n6[0]/id14 $/atom:n6[0]/id38
    $/dihedral:n6[0]/id36 @/dihedral:N6/type8 $/atom:n6[0]/id16 $/atom:n6[0]/id14 $/atom:n6[0]/id13 $/atom:n6[0]/id39
    $/dihedral:n6[0]/id37 @/dihedral:N6/type8 $/atom:n6[0]/id23 $/atom:n6[0]/id21 $/atom:n6[0]/id22 $/atom:n6[0]/id24
    $/dihedral:n6[0]/id38 @/dihedral:N6/type8 $/atom:n6[0]/id23 $/atom:n6[0]/id21 $/atom:n6[0]/id22 $/atom:n6[0]/id37
    $/dihedral:n6[0]/id39 @/dihedral:N6/type8 $/atom:n6[0]/id24 $/atom:n6[0]/id22 $/atom:n6[0]/id21 $/atom:n6[0]/id36
    $/dihedral:n6[0]/id40 @/dihedral:N6/type8 $/atom:n6[0]/id34 $/atom:n6[0]/id3 $/atom:n6[0]/id4 $/atom:n6[0]/id35
    $/dihedral:n6[0]/id41 @/dihedral:N6/type8 $/atom:n6[0]/id36 $/atom:n6[0]/id21 $/atom:n6[0]/id22 $/atom:n6[0]/id37
    $/dihedral:n6[0]/id42 @/dihedral:N6/type8 $/atom:n6[0]/id38 $/atom:n6[0]/id14 $/atom:n6[0]/id13 $/atom:n6[0]/id39
    $/dihedral:n6[0]/id43 @/dihedral:N6/type8 $/atom:n6[0]/id50 $/atom:n6[0]/id47 $/atom:n6[0]/id49 $/atom:n6[0]/id55
    $/dihedral:n6[0]/id44 @/dihedral:N6/type8 $/atom:n6[0]/id50 $/atom:n6[0]/id47 $/atom:n6[0]/id49 $/atom:n6[0]/id54
    $/dihedral:n6[0]/id45 @/dihedral:N6/type8 $/atom:n6[0]/id51 $/atom:n6[0]/id47 $/atom:n6[0]/id49 $/atom:n6[0]/id55
    $/dihedral:n6[0]/id46 @/dihedral:N6/type8 $/atom:n6[0]/id51 $/atom:n6[0]/id47 $/atom:n6[0]/id49 $/atom:n6[0]/id54
    $/dihedral:n6[0]/id47 @/dihedral:N6/type8 $/atom:n6[0]/id63 $/atom:n6[0]/id60 $/atom:n6[0]/id62 $/atom:n6[0]/id67
    $/dihedral:n6[0]/id48 @/dihedral:N6/type8 $/atom:n6[0]/id63 $/atom:n6[0]/id60 $/atom:n6[0]/id62 $/atom:n6[0]/id68
    $/dihedral:n6[0]/id49 @/dihedral:N6/type8 $/atom:n6[0]/id64 $/atom:n6[0]/id60 $/atom:n6[0]/id62 $/atom:n6[0]/id67
    $/dihedral:n6[0]/id50 @/dihedral:N6/type8 $/atom:n6[0]/id64 $/atom:n6[0]/id60 $/atom:n6[0]/id62 $/atom:n6[0]/id68
    $/dihedral:n6[0]/id51 @/dihedral:N6/type8 $/atom:n6[0]/id76 $/atom:n6[0]/id73 $/atom:n6[0]/id75 $/atom:n6[0]/id79
    $/dihedral:n6[0]/id52 @/dihedral:N6/type8 $/atom:n6[0]/id76 $/atom:n6[0]/id73 $/atom:n6[0]/id75 $/atom:n6[0]/id78
    $/dihedral:n6[0]/id53 @/dihedral:N6/type8 $/atom:n6[0]/id77 $/atom:n6[0]/id73 $/atom:n6[0]/id75 $/atom:n6[0]/id79
    $/dihedral:n6[0]/id54 @/dihedral:N6/type8 $/atom:n6[0]/id77 $/atom:n6[0]/id73 $/atom:n6[0]/id75 $/atom:n6[0]/id78
    $/dihedral:n6[0]/id55 @/dihedral:N6/type20 $/atom:n6[0]/id2 $/atom:n6[0]/id30 $/atom:n6[0]/id3 $/atom:n6[0]/id7
    $/dihedral:n6[0]/id56 @/dihedral:N6/type20 $/atom:n6[0]/id1 $/atom:n6[0]/id29 $/atom:n6[0]/id4 $/atom:n6[0]/id8
    $/dihedral:n6[0]/id57 @/dihedral:N6/type20 $/atom:n6[0]/id10 $/atom:n6[0]/id25 $/atom:n6[0]/id13 $/atom:n6[0]/id15
    $/dihedral:n6[0]/id58 @/dihedral:N6/type20 $/atom:n6[0]/id11 $/atom:n6[0]/id26 $/atom:n6[0]/id14 $/atom:n6[0]/id16
    $/dihedral:n6[0]/id59 @/dihedral:N6/type20 $/atom:n6[0]/id18 $/atom:n6[0]/id28 $/atom:n6[0]/id21 $/atom:n6[0]/id23
    $/dihedral:n6[0]/id60 @/dihedral:N6/type20 $/atom:n6[0]/id19 $/atom:n6[0]/id27 $/atom:n6[0]/id22 $/atom:n6[0]/id24
    $/dihedral:n6[0]/id61 @/dihedral:N6/type20 $/atom:n6[0]/id2 $/atom:n6[0]/id30 $/atom:n6[0]/id3 $/atom:n6[0]/id34
    $/dihedral:n6[0]/id62 @/dihedral:N6/type20 $/atom:n6[0]/id1 $/atom:n6[0]/id29 $/atom:n6[0]/id4 $/atom:n6[0]/id35
    $/dihedral:n6[0]/id63 @/dihedral:N6/type20 $/atom:n6[0]/id18 $/atom:n6[0]/id28 $/atom:n6[0]/id21 $/atom:n6[0]/id36
    $/dihedral:n6[0]/id64 @/dihedral:N6/type20 $/atom:n6[0]/id19 $/atom:n6[0]/id27 $/atom:n6[0]/id22 $/atom:n6[0]/id37
    $/dihedral:n6[0]/id65 @/dihedral:N6/type20 $/atom:n6[0]/id11 $/atom:n6[0]/id26 $/atom:n6[0]/id14 $/atom:n6[0]/id38
    $/dihedral:n6[0]/id66 @/dihedral:N6/type20 $/atom:n6[0]/id10 $/atom:n6[0]/id25 $/atom:n6[0]/id13 $/atom:n6[0]/id39
    $/dihedral:n6[0]/id67 @/dihedral:N6/type20 $/atom:n6[0]/id41 $/atom:n6[0]/id44 $/atom:n6[0]/id47 $/atom:n6[0]/id50
    $/dihedral:n6[0]/id68 @/dihedral:N6/type20 $/atom:n6[0]/id41 $/atom:n6[0]/id44 $/atom:n6[0]/id47 $/atom:n6[0]/id51
    $/dihedral:n6[0]/id69 @/dihedral:N6/type20 $/atom:n6[0]/id43 $/atom:n6[0]/id46 $/atom:n6[0]/id49 $/atom:n6[0]/id54
    $/dihedral:n6[0]/id70 @/dihedral:N6/type20 $/atom:n6[0]/id43 $/atom:n6[0]/id46 $/atom:n6[0]/id49 $/atom:n6[0]/id55
    $/dihedral:n6[0]/id71 @/dihedral:N6/type20 $/atom:n6[0]/id52 $/atom:n6[0]/id57 $/atom:n6[0]/id60 $/atom:n6[0]/id63
    $/dihedral:n6[0]/id72 @/dihedral:N6/type20 $/atom:n6[0]/id52 $/atom:n6[0]/id57 $/atom:n6[0]/id60 $/atom:n6[0]/id64
    $/dihedral:n6[0]/id73 @/dihedral:N6/type20 $/atom:n6[0]/id56 $/atom:n6[0]/id59 $/atom:n6[0]/id62 $/atom:n6[0]/id67
    $/dihedral:n6[0]/id74 @/dihedral:N6/type20 $/atom:n6[0]/id56 $/atom:n6[0]/id59 $/atom:n6[0]/id62 $/atom:n6[0]/id68
    $/dihedral:n6[0]/id75 @/dihedral:N6/type20 $/atom:n6[0]/id65 $/atom:n6[0]/id70 $/atom:n6[0]/id73 $/atom:n6[0]/id76
    $/dihedral:n6[0]/id76 @/dihedral:N6/type20 $/atom:n6[0]/id65 $/atom:n6[0]/id70 $/atom:n6[0]/id73 $/atom:n6[0]/id77
    $/dihedral:n6[0]/id77 @/dihedral:N6/type20 $/atom:n6[0]/id69 $/atom:n6[0]/id72 $/atom:n6[0]/id75 $/atom:n6[0]/id78
    $/dihedral:n6[0]/id78 @/dihedral:N6/type20 $/atom:n6[0]/id69 $/atom:n6[0]/id72 $/atom:n6[0]/id75 $/atom:n6[0]/id79
    $/dihedral:n6[0]/id79 @/dihedral:N6/type40 $/atom:n6[0]/id3 $/atom:n6[0]/id30 $/atom:n6[0]/id2 $/atom:n6[0]/id6
    $/dihedral:n6[0]/id80 @/dihedral:N6/type40 $/atom:n6[0]/id4 $/atom:n6[0]/id29 $/atom:n6[0]/id1 $/atom:n6[0]/id5
    $/dihedral:n6[0]/id81 @/dihedral:N6/type40 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id25 $/atom:n6[0]/id13
    $/dihedral:n6[0]/id82 @/dihedral:N6/type40 $/atom:n6[0]/id12 $/atom:n6[0]/id11 $/atom:n6[0]/id26 $/atom:n6[0]/id14
    $/dihedral:n6[0]/id83 @/dihedral:N6/type40 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id28 $/atom:n6[0]/id21
    $/dihedral:n6[0]/id84 @/dihedral:N6/type40 $/atom:n6[0]/id20 $/atom:n6[0]/id19 $/atom:n6[0]/id27 $/atom:n6[0]/id22
    $/dihedral:n6[0]/id85 @/dihedral:N6/type40 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id44 $/atom:n6[0]/id47
    $/dihedral:n6[0]/id86 @/dihedral:N6/type40 $/atom:n6[0]/id45 $/atom:n6[0]/id43 $/atom:n6[0]/id46 $/atom:n6[0]/id49
    $/dihedral:n6[0]/id87 @/dihedral:N6/type40 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id57 $/atom:n6[0]/id60
    $/dihedral:n6[0]/id88 @/dihedral:N6/type40 $/atom:n6[0]/id58 $/atom:n6[0]/id56 $/atom:n6[0]/id59 $/atom:n6[0]/id62
    $/dihedral:n6[0]/id89 @/dihedral:N6/type40 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id70 $/atom:n6[0]/id73
    $/dihedral:n6[0]/id90 @/dihedral:N6/type40 $/atom:n6[0]/id71 $/atom:n6[0]/id69 $/atom:n6[0]/id72 $/atom:n6[0]/id75
    $/dihedral:n6[0]/id91 @/dihedral:N6/type41 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id30 $/atom:n6[0]/id3
    $/dihedral:n6[0]/id92 @/dihedral:N6/type41 $/atom:n6[0]/id2 $/atom:n6[0]/id1 $/atom:n6[0]/id29 $/atom:n6[0]/id4
    $/dihedral:n6[0]/id93 @/dihedral:N6/type41 $/atom:n6[0]/id11 $/atom:n6[0]/id10 $/atom:n6[0]/id25 $/atom:n6[0]/id13
    $/dihedral:n6[0]/id94 @/dihedral:N6/type41 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id26 $/atom:n6[0]/id14
    $/dihedral:n6[0]/id95 @/dihedral:N6/type41 $/atom:n6[0]/id19 $/atom:n6[0]/id18 $/atom:n6[0]/id28 $/atom:n6[0]/id21
    $/dihedral:n6[0]/id96 @/dihedral:N6/type41 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id27 $/atom:n6[0]/id22
    $/dihedral:n6[0]/id97 @/dihedral:N6/type41 $/atom:n6[0]/id43 $/atom:n6[0]/id41 $/atom:n6[0]/id44 $/atom:n6[0]/id47
    $/dihedral:n6[0]/id98 @/dihedral:N6/type41 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id46 $/atom:n6[0]/id49
    $/dihedral:n6[0]/id99 @/dihedral:N6/type41 $/atom:n6[0]/id56 $/atom:n6[0]/id52 $/atom:n6[0]/id57 $/atom:n6[0]/id60
    $/dihedral:n6[0]/id100 @/dihedral:N6/type41 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id59 $/atom:n6[0]/id62
    $/dihedral:n6[0]/id101 @/dihedral:N6/type41 $/atom:n6[0]/id69 $/atom:n6[0]/id65 $/atom:n6[0]/id70 $/atom:n6[0]/id73
    $/dihedral:n6[0]/id102 @/dihedral:N6/type41 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id72 $/atom:n6[0]/id75
    $/dihedral:n6[0]/id103 @/dihedral:N6/type42 $/atom:n6[0]/id31 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id32
    $/dihedral:n6[0]/id104 @/dihedral:N6/type42 $/atom:n6[0]/id31 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id42
    $/dihedral:n6[0]/id105 @/dihedral:N6/type42 $/atom:n6[0]/id32 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id33
    $/dihedral:n6[0]/id106 @/dihedral:N6/type42 $/atom:n6[0]/id42 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id53
    $/dihedral:n6[0]/id107 @/dihedral:N6/type42 $/atom:n6[0]/id53 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id66
    $/dihedral:n6[0]/id108 @/dihedral:N6/type44 $/atom:n6[0]/id25 $/atom:n6[0]/id10 $/atom:n6[0]/id9 $/atom:n6[0]/id32
    $/dihedral:n6[0]/id109 @/dihedral:N6/type44 $/atom:n6[0]/id26 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id32
    $/dihedral:n6[0]/id110 @/dihedral:N6/type44 $/atom:n6[0]/id27 $/atom:n6[0]/id19 $/atom:n6[0]/id20 $/atom:n6[0]/id33
    $/dihedral:n6[0]/id111 @/dihedral:N6/type44 $/atom:n6[0]/id28 $/atom:n6[0]/id18 $/atom:n6[0]/id17 $/atom:n6[0]/id33
    $/dihedral:n6[0]/id112 @/dihedral:N6/type44 $/atom:n6[0]/id29 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id31
    $/dihedral:n6[0]/id113 @/dihedral:N6/type44 $/atom:n6[0]/id30 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id31
    $/dihedral:n6[0]/id114 @/dihedral:N6/type44 $/atom:n6[0]/id42 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id44
    $/dihedral:n6[0]/id115 @/dihedral:N6/type44 $/atom:n6[0]/id42 $/atom:n6[0]/id45 $/atom:n6[0]/id43 $/atom:n6[0]/id46
    $/dihedral:n6[0]/id116 @/dihedral:N6/type44 $/atom:n6[0]/id53 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id57
    $/dihedral:n6[0]/id117 @/dihedral:N6/type44 $/atom:n6[0]/id53 $/atom:n6[0]/id58 $/atom:n6[0]/id56 $/atom:n6[0]/id59
    $/dihedral:n6[0]/id118 @/dihedral:N6/type44 $/atom:n6[0]/id66 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id70
    $/dihedral:n6[0]/id119 @/dihedral:N6/type44 $/atom:n6[0]/id66 $/atom:n6[0]/id71 $/atom:n6[0]/id69 $/atom:n6[0]/id72
    $/dihedral:n6[0]/id120 @/dihedral:N6/type45 $/atom:n6[0]/id25 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id26
    $/dihedral:n6[0]/id121 @/dihedral:N6/type45 $/atom:n6[0]/id27 $/atom:n6[0]/id19 $/atom:n6[0]/id18 $/atom:n6[0]/id28
    $/dihedral:n6[0]/id122 @/dihedral:N6/type45 $/atom:n6[0]/id29 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id30
    $/dihedral:n6[0]/id123 @/dihedral:N6/type45 $/atom:n6[0]/id44 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id46
    $/dihedral:n6[0]/id124 @/dihedral:N6/type45 $/atom:n6[0]/id57 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id59
    $/dihedral:n6[0]/id125 @/dihedral:N6/type45 $/atom:n6[0]/id70 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id72
    $/dihedral:n6[0]/id126 @/dihedral:N6/type51 $/atom:n6[0]/id10 $/atom:n6[0]/id9 $/atom:n6[0]/id5 $/atom:n6[0]/id31
    $/dihedral:n6[0]/id127 @/dihedral:N6/type51 $/atom:n6[0]/id31 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id41
    $/dihedral:n6[0]/id128 @/dihedral:N6/type51 $/atom:n6[0]/id18 $/atom:n6[0]/id17 $/atom:n6[0]/id12 $/atom:n6[0]/id32
    $/dihedral:n6[0]/id129 @/dihedral:N6/type51 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id32
    $/dihedral:n6[0]/id130 @/dihedral:N6/type51 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id33
    $/dihedral:n6[0]/id131 @/dihedral:N6/type51 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id42
    $/dihedral:n6[0]/id132 @/dihedral:N6/type51 $/atom:n6[0]/id42 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id52
    $/dihedral:n6[0]/id133 @/dihedral:N6/type51 $/atom:n6[0]/id43 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id53
    $/dihedral:n6[0]/id134 @/dihedral:N6/type51 $/atom:n6[0]/id53 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id65
    $/dihedral:n6[0]/id135 @/dihedral:N6/type51 $/atom:n6[0]/id56 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id66
    $/dihedral:n6[0]/id136 @/dihedral:N6/type53 $/atom:n6[0]/id2 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id31
    $/dihedral:n6[0]/id137 @/dihedral:N6/type53 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id31
    $/dihedral:n6[0]/id138 @/dihedral:N6/type53 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id32
    $/dihedral:n6[0]/id139 @/dihedral:N6/type53 $/atom:n6[0]/id11 $/atom:n6[0]/id10 $/atom:n6[0]/id9 $/atom:n6[0]/id32
    $/dihedral:n6[0]/id140 @/dihedral:N6/type53 $/atom:n6[0]/id19 $/atom:n6[0]/id18 $/atom:n6[0]/id17 $/atom:n6[0]/id33
    $/dihedral:n6[0]/id141 @/dihedral:N6/type53 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id20 $/atom:n6[0]/id33
    $/dihedral:n6[0]/id142 @/dihedral:N6/type53 $/atom:n6[0]/id42 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id43
    $/dihedral:n6[0]/id143 @/dihedral:N6/type53 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id45 $/atom:n6[0]/id42
    $/dihedral:n6[0]/id144 @/dihedral:N6/type53 $/atom:n6[0]/id53 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id56
    $/dihedral:n6[0]/id145 @/dihedral:N6/type53 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id58 $/atom:n6[0]/id53
    $/dihedral:n6[0]/id146 @/dihedral:N6/type53 $/atom:n6[0]/id66 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id69
    $/dihedral:n6[0]/id147 @/dihedral:N6/type53 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id71 $/atom:n6[0]/id66
    $/dihedral:n6[0]/id148 @/dihedral:N6/type54 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id25
    $/dihedral:n6[0]/id149 @/dihedral:N6/type54 $/atom:n6[0]/id17 $/atom:n6[0]/id12 $/atom:n6[0]/id11 $/atom:n6[0]/id26
    $/dihedral:n6[0]/id150 @/dihedral:N6/type54 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id28
    $/dihedral:n6[0]/id151 @/dihedral:N6/type54 $/atom:n6[0]/id9 $/atom:n6[0]/id5 $/atom:n6[0]/id1 $/atom:n6[0]/id29
    $/dihedral:n6[0]/id152 @/dihedral:N6/type54 $/atom:n6[0]/id30 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id40
    $/dihedral:n6[0]/id153 @/dihedral:N6/type54 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id44
    $/dihedral:n6[0]/id154 @/dihedral:N6/type54 $/atom:n6[0]/id46 $/atom:n6[0]/id43 $/atom:n6[0]/id45 $/atom:n6[0]/id48
    $/dihedral:n6[0]/id155 @/dihedral:N6/type54 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id57
    $/dihedral:n6[0]/id156 @/dihedral:N6/type54 $/atom:n6[0]/id59 $/atom:n6[0]/id56 $/atom:n6[0]/id58 $/atom:n6[0]/id61
    $/dihedral:n6[0]/id157 @/dihedral:N6/type54 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id70
    $/dihedral:n6[0]/id158 @/dihedral:N6/type56 $/atom:n6[0]/id12 $/atom:n6[0]/id11 $/atom:n6[0]/id10 $/atom:n6[0]/id25
    $/dihedral:n6[0]/id159 @/dihedral:N6/type56 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id26
    $/dihedral:n6[0]/id160 @/dihedral:N6/type56 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id27
    $/dihedral:n6[0]/id161 @/dihedral:N6/type56 $/atom:n6[0]/id20 $/atom:n6[0]/id19 $/atom:n6[0]/id18 $/atom:n6[0]/id28
    $/dihedral:n6[0]/id162 @/dihedral:N6/type56 $/atom:n6[0]/id6 $/atom:n6[0]/id2 $/atom:n6[0]/id1 $/atom:n6[0]/id29
    $/dihedral:n6[0]/id163 @/dihedral:N6/type56 $/atom:n6[0]/id5 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id30
    $/dihedral:n6[0]/id164 @/dihedral:N6/type56 $/atom:n6[0]/id44 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id45
    $/dihedral:n6[0]/id165 @/dihedral:N6/type56 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id46
    $/dihedral:n6[0]/id166 @/dihedral:N6/type56 $/atom:n6[0]/id57 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id58
    $/dihedral:n6[0]/id167 @/dihedral:N6/type56 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id59
    $/dihedral:n6[0]/id168 @/dihedral:N6/type56 $/atom:n6[0]/id70 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id71
    $/dihedral:n6[0]/id169 @/dihedral:N6/type56 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id72
    $/dihedral:n6[0]/id170 @/dihedral:N6/type60 $/atom:n6[0]/id27 $/atom:n6[0]/id19 $/atom:n6[0]/id20 $/atom:n6[0]/id80
    $/dihedral:n6[0]/id171 @/dihedral:N6/type60 $/atom:n6[0]/id72 $/atom:n6[0]/id69 $/atom:n6[0]/id71 $/atom:n6[0]/id74
    $/dihedral:n6[0]/id172 @/dihedral:N6/type84 $/atom:n6[0]/id5 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id6
    $/dihedral:n6[0]/id173 @/dihedral:N6/type84 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id12
    $/dihedral:n6[0]/id174 @/dihedral:N6/type84 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id20
    $/dihedral:n6[0]/id175 @/dihedral:N6/type84 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id45
    $/dihedral:n6[0]/id176 @/dihedral:N6/type84 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id58
    $/dihedral:n6[0]/id177 @/dihedral:N6/type84 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id71
    $/dihedral:n6[0]/id178 @/dihedral:N6/type87 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id10
    $/dihedral:n6[0]/id179 @/dihedral:N6/type87 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id41
    $/dihedral:n6[0]/id180 @/dihedral:N6/type87 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id18
    $/dihedral:n6[0]/id181 @/dihedral:N6/type87 $/atom:n6[0]/id43 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id52
    $/dihedral:n6[0]/id182 @/dihedral:N6/type87 $/atom:n6[0]/id56 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id65
    $/dihedral:n6[0]/id183 @/dihedral:N6/type90 $/atom:n6[0]/id1 $/atom:n6[0]/id2 $/atom:n6[0]/id6 $/atom:n6[0]/id40
    $/dihedral:n6[0]/id184 @/dihedral:N6/type90 $/atom:n6[0]/id2 $/atom:n6[0]/id1 $/atom:n6[0]/id5 $/atom:n6[0]/id9
    $/dihedral:n6[0]/id185 @/dihedral:N6/type90 $/atom:n6[0]/id10 $/atom:n6[0]/id11 $/atom:n6[0]/id12 $/atom:n6[0]/id17
    $/dihedral:n6[0]/id186 @/dihedral:N6/type90 $/atom:n6[0]/id5 $/atom:n6[0]/id9 $/atom:n6[0]/id10 $/atom:n6[0]/id11
    $/dihedral:n6[0]/id187 @/dihedral:N6/type90 $/atom:n6[0]/id12 $/atom:n6[0]/id17 $/atom:n6[0]/id18 $/atom:n6[0]/id19
    $/dihedral:n6[0]/id188 @/dihedral:N6/type90 $/atom:n6[0]/id41 $/atom:n6[0]/id43 $/atom:n6[0]/id45 $/atom:n6[0]/id48
    $/dihedral:n6[0]/id189 @/dihedral:N6/type90 $/atom:n6[0]/id6 $/atom:n6[0]/id40 $/atom:n6[0]/id41 $/atom:n6[0]/id43
    $/dihedral:n6[0]/id190 @/dihedral:N6/type90 $/atom:n6[0]/id52 $/atom:n6[0]/id56 $/atom:n6[0]/id58 $/atom:n6[0]/id61
    $/dihedral:n6[0]/id191 @/dihedral:N6/type90 $/atom:n6[0]/id45 $/atom:n6[0]/id48 $/atom:n6[0]/id52 $/atom:n6[0]/id56
    $/dihedral:n6[0]/id192 @/dihedral:N6/type90 $/atom:n6[0]/id58 $/atom:n6[0]/id61 $/atom:n6[0]/id65 $/atom:n6[0]/id69
    $/dihedral:n6[0]/id193 @/dihedral:N6/type100 $/atom:n6[0]/id18 $/atom:n6[0]/id19 $/atom:n6[0]/id20 $/atom:n6[0]/id80
    $/dihedral:n6[0]/id194 @/dihedral:N6/type100 $/atom:n6[0]/id65 $/atom:n6[0]/id69 $/atom:n6[0]/id71 $/atom:n6[0]/id74
